---
import PortfolioLayout from './PortfolioLayout.astro';

---

<PortfolioLayout>

    <h1 class="text-3xl">
        Dimensional Fund Center / Model Center / SMA Center
    </h1>

    <section>
        <h2 class="text-lg text-slate-300">Tech stacks(Production)</h2>
        <p class="text-sm">React.js 16~18, React Router 5, D3, PDFMake, Express.js, Sitecore-CMS, Jotai 1/2 </p>
    </section>
    <section>
        <h2 class="text-lg text-slate-300">Tech stacks(Dev)</h2>
        <p class="text-sm">Vite, Jest, RTL, Playwright, Docker, Bitbucket/Github, Jenkins</p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">Description</h2>
        <p class="text-sm">For the fund advisors, DFA offers multiple ways of analyzation and visualization.</p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">My Role</h2>
        <p class="text-sm">Development/Debug/Testing over Fund Center & Model Center & SMA Center.</p>
        <p class="text-sm">Leading Unit/e2e/Manual testing process / Code Review</p>
        <p class="text-sm">Optimizations on performance, readability, management</p>
    </section>
</PortfolioLayout>

