---
import PortfolioLayout from '@/layouts/sublayouts/PortfolioLayout.astro';

---

<PortfolioLayout>

    <h1 class="text-3xl">
        USAA Financial Readiness Assessments
    </h1>

    <section>
        <h2 class="text-lg text-slate-300">Tech stacks(Production)</h2>
        <p class="text-sm">React.js 15,16(Class, Hook), Redux, React Router 4, MS-DB2, Java</p>
    </section>
    <section>
        <h2 class="text-lg text-slate-300">Tech stacks(Dev)</h2>
        <p class="text-sm">Chai, Mocha, sinon, Enzyme, Selenium, Mockito, Spock, Jax-RS(RestAPI) </p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">Description</h2>
        <p class="text-sm">Created a process for Financial Readiness Assessment and analyzations</p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">My Role</h2>
        <p class="text-sm">Develop/Debug/Architecture on both FE and BE</p>
    </section>
</PortfolioLayout>

