---
import { twMerge } from 'tailwind-merge';
import ContentHolder from '@/layouts/sublayouts/ContentHolder.astro';
const classNames = [
    twMerge('from-cyan-700/70 to-cyan-500/50'),
    twMerge('bg-cyan-200/50'),
    twMerge('to-cyan-700/50 from-cyan-500/30')
]
---
<ContentHolder
    anchorId='third'
    classNames={classNames}
    before="#second"
    after="#first"
    bgColor="rgb(166, 173, 188))"
    bgImage="/images/nasa-star-night.jpg"
>
<div class="flex flex-col w-full h-full overflow-y-auto">

    <h1 class="text-5xl">
        <a href="sa-korean-school.vercel.app" target="_blank">San Antonio Korean School Homepage</a>
    </h1>

    <section>
        <h2>tech stacks</h2>
        <p>Next.js 14, tailwindcss, Stripe, Google Sheet API</p>
    </section>
    <section>  
        <h2>description</h2>
    </section>
</div>

<img slot="image-area" alt="profile" src="/images/app-screenshots/svg-designer.png" class="flex-shrink rounded-lg max-w-[400px] max-h-[400px] w-full lg:h-auto h-auto px-4 aspect-1 object-contain" />


</ContentHolder>

