---
import ContentHolder from '@/layouts/sublayouts/ContentHolder.astro';

import { twMerge } from 'tailwind-merge';
import Nav from '../links/Nav.astro';
const classNames = [
    twMerge('from-slate-700/70 to-slate-500/50'),
    twMerge('bg-slate-200/50'),
    twMerge('to-slate-700/50 from-slate-500/30')
]
---
<ContentHolder 
    anchorId='first'
    classNames={classNames}
    after="#second",
    bgColor='gray'
    bgImage="/images/nasa-star-night.jpg"
>
<Nav slot="nav-area" className="absolute pl-[2rem] top-0 right-0 rounded-bl-[3rem] bg-white/30 z-50 py-2"/>
     
<div class="flex flex-col w-full h-full overflow-y-auto gap-4">

    <h1 class="text-3xl">
        San Antonio Korean School Homepage
    </h1>

    <section>
        <h2 class="text-lg text-slate-300">Tech stacks</h2>
        <p class="text-sm">Next.js 14(app router), tailwindcss, Stripe, Google Sheet API</p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">Description</h2>
        <p class="text-sm">San Antonio Korean School wanted to improve existing homepage.</p>
        <p class="text-sm">Implemented SSG first pages using Google Sheets API for the contents update.</p>
        <p class="text-sm">Full server side generated Navigation system, payment system using stripe API.</p>
    </section>
</div>
<a href="https://sa-korean-school.vercel.app" target="_blank" slot="image-area" >
<img alt="profile" src="/images/app-screenshots/sakr-home.png" class="flex-shrink rounded-lg max-w-[400px] max-h-[400px] w-full lg:h-auto h-auto px-4 aspect-1 object-contain" />
</a>

</ContentHolder>
