---
import PortfolioLayout from '@/layouts/sublayouts/PortfolioLayout.astro';

---

<PortfolioLayout>

    <h1 class="text-3xl">
        San Antonio Korean School Homepage
    </h1>

    <section>
        <h2 class="text-lg text-slate-300">Tech stacks</h2>
        <p class="text-sm">Next.js 14(app router), Tailwindcss, shadcn/ui, Stripe, Google Sheet API</p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">Description</h2>
        <p class="text-sm">San Antonio Korean School wanted to improve existing homepage.</p>
        <p class="text-sm">Implemented SSG first pages using Google Sheets API for the contents update.</p>
        <p class="text-sm">Full server side generated Navigation system, payment system using stripe API.</p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">My Role</h2>
        <p class="text-sm">Design / Architecture / Implementation / Testing </p>
    </section>
</PortfolioLayout>

