---
import PortfolioLayout from '@/layouts/sublayouts/PortfolioLayout.astro';

---

<PortfolioLayout>

    <h1 class="text-3xl">
        Small Business Insurance
    </h1>

    <section>
        <h2 class="text-lg text-slate-300">Tech stacks(Production)</h2>
        <p class="text-sm">React.js 16(Hook, Context), ReduxToolkit, React Router 5, Guidewire, Java</p>
    </section>
    <section>
        <h2 class="text-lg text-slate-300">Tech stacks(Dev)</h2>
        <p class="text-sm">Chai, Mocha, sinon, RTL, Storybook, Cypress, Mockito, Spring Framework </p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">Description</h2>
        <p class="text-sm">Created the join/maintain process of Small business Insurance</p>
    </section>
    <section class="text-sm">  
        <h2 class="text-lg text-slate-300">My Role</h2>
        <p class="text-sm">Leading Frontend team, Cowork with BE team as co-leader.</p>
    </section>
</PortfolioLayout>

