---
import Introduction from "./Introduction.astro";
import Careers from "./Careers.astro";
import Achievements from "./Achievements.astro";

---
<div class="px-2 py-4">
    <Introduction />
    <Careers />
    <Achievements />
</div>