---
import {Title} from 'solid-ui';
import {LeftContents} from 'common-data';
const DESC = LeftContents.Introduction.DESC;
const TITLE = LeftContents.Introduction.TITLE;
const descMultiLine = DESC.split('\n').join('<br/>');
---
<div>
    <Title>{TITLE}</Title>
    <p class="text-black font-serif leading-5" set:html={descMultiLine}/>
</div>