.styleItemValue {
  width: 70px;
}
.infoItemValue {
  width: 70px;
}
.pathItemValue {
  width: 70px;
}

.stylesWrapper {
  background-color: #f6f86d;
}

.stylesTitle {
  background-image: linear-gradient(90deg, #ffddee, #ffffff);
  font-size: 10px;
  border: solid 1px #ffaabb;
  border-radius: 4px;
}

.pathItemName {
  width: auto;
}

.expandBtn {
  width: 8px;
  height: 100%;
  background-color: #fff567;
  color: black;
  cursor: pointer;
}

.expandBtn:hover {
  background-color: #ffc72e;
  color: white;
}

.deleteHistory {
  position: absolute;
  right: 8px;
  top: 0;
  width: 8px;
  height: 100%;
  background-color: #ff6767;
  color: black;
  cursor: pointer;
}

.deleteHistory:hover {
  background-color: #ff2e2e;
  color: white;
}

.selectedToolBtn {
  outline-width: 3px;
  outline-offset: 2px;
  outline-color: red;
  outline-style: solid;
  background-color: #f6f86d;
}

.unselectedToolBtn {
  background-color: #cecece;
}

.selectedToolBtn,
.unselectedToolBtn {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  margin: 3px;
}

.selectedToolBtn:hover,
.unselectedToolBtn:hover {
  cursor: pointer;
}

.elementInfo {
  margin-left: 15px;
}

.pathLoggerWrapper {
  background-color: #ffb067;
}

.pathLogItem {
  background-color: #ffb067;
  font-size: 8pt;
}

.itemInfoInput:hover,
.itemInfoTextArea:hover {
  background-color: #ffb067;
}

.itemInfoTextArea,
.itemInfoInput {
  font-size: 10px;
}

.maskCheck {
}

.maskId {
}

.maskId:disabled {
  background-color: rgb(184, 184, 184);
  color: rgb(99, 99, 99);
  cursor: default;
}

.extendedPropsHolder {
  position: relative;
  padding-left: 10px;
}

.arrowOnLeftTop {
  position: absolute;
  left: -15px;
  top: 3px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.arrowPathRight {
  transform: rotateZ(0deg) translateX(0px);
  transition: ease-in 100ms;
}

.arrowPathDown {
  transform: rotateZ(90deg) translateX(10px);
  transition: ease-in 100ms;
}

.usingTools {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  align-items: right;
  display: flex;
}
