---
import {Title} from 'react-ui';
import { SkillLevlList } from './SkillLevelList';

---
<div>
    <Title color="yellow">Skill Levels</Title>
    {
        <div class="flex flex-col gap-2 text-gray-light">
        <SkillLevlList client:only="react"/>
        </div>
    }
</div>