---
import {Title} from 'react-ui';
import {MoreAchievementsList} from './MoreAchievementsList';
---
<div class="achievements">
    <Title>More Achievements</Title>
    <div class="flex flex-col gap-2">
        <MoreAchievementsList client:only="react" />
    </div>
</div>
<style>
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    padding-left: 1rem;
    position: relative;
    text-indent: 0.1rem;
    font-size: 0.8rem;
}
li::before {
    font-size: 0.6rem;
    content: '✅';
    position:absolute;
    right: calc(100% - 0.9rem);
    top: 0.28rem;
    height: 0.6rem;
    width: 1rem;
}
heading {
    font-weight: bold;
    font-size: 1rem;
}

</style>
<style is:global>
    .achievements .resume-expand-panel.gridContainer[data-expanded="true"] {
        background-color: antiquewhite;
    }
</style>