---
import TodoList from '@/components/app-comps/todo-list/TodoList.astro';
import type { Todo } from '@/components/app-comps/todo-list/types';
import Layout from '@/layouts/TodoLayout.astro';
import { getTodos } from "@/components/app-comps/todo-list/todo-utils";

const url = Astro.url;
const emailFromQuery = new URL(url).searchParams.get('email');
console.log("param from get", url, "==>", emailFromQuery);
const email = emailFromQuery || 'public@no-email.com';
const todos:Todo[] = await getTodos(email);
---

<Layout title="Welcome to Astro.">
	<main class="w-96 py-4">
		<h1 class="text-xl" transition:name="HTMX todo List" >HTMX Todo List</h1>
		<TodoList todos={todos} email={email} />
	</main>
</Layout>