--- 
import {twMerge} from 'tailwind-merge';
import NavLink from './NavLink.astro';
import { Icon } from 'astro-icon/components';
interface Props {
	className?: string;
}

const { className } = Astro.props;
// transition:name="HTMX todo list" 
---
<div class={twMerge("min-h-8 flex flex-row flex-wrap gap-2 text-sm text-lime-200 font-bold justify-center items-center", className)}>
	<NavLink href="/"><Icon name="home"/></NavLink>
    <NavLink href="https://github.com/wootra/resume-turborepo/tree/main/apps/astro-resume" isNewWindow><Icon name="github"/></NavLink>
    <NavLink href="/resume">Resume</NavLink>
    <NavLink href="/portfolio" >Portfolio</NavLink>
    <NavLink href="/apps" >Apps</NavLink>
    <NavLink href="/libraries" >Libraries</NavLink>
</div>
	