---
import Layout from '../layouts/MainLayout.astro';
import { twMerge as tw } from 'tailwind-merge'

const cardClass = tw("flex items-center justify-center w-32 h-16 rounded-xl shadow-lg bg-slate-400");
---

<Layout title="Welcome to Songhueon Jun's resume(Astro)">
	<div class="w-full h-full px-8 py-8">
		<section class="flex flex-col gap-4 w-full h-full rounded-xl shadow-lg bg-white py-4 px-4">
			<h1 class="text-3xl">Songhyeon Jun's PORTFOLIO</h1>
			<main class="flex items-center justify-center flex-row gap-4 w-full h-full flex-wrap">
					<a href="/resume" class={cardClass}>Resume</a>
					<a href="/todo-list" class={cardClass}>HTMX todo list</a>
		
			</main>
		</section>
	</div>
</Layout>

<style>
.card {

}
</style>
