---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Songhueon Jun's resume(Astro)">
	<section id="top" >
		top
	</section>
	<section id="left" >
		left
	</section>
	<section id="right">
		right
	</section>
</Layout>

<style>

	
</style>
