---
import Layout from '../layouts/Layout.astro';
import TopSection from '../components/TopSection/index.astro';
import LeftSection from '../components/LeftSection/index.astro';
import RightSection from '../components/RightSection/index.astro';
---

<Layout title="Welcome to Songhueon Jun's resume(Astro)">
	<main class="main-page">
		<div class="grid-container">
			<section id="top">
				<TopSection />
			</section>
			<section id="left" class="bg-section-back">
				<LeftSection />
			</section>
			<section id="right" class="bg-back-blue">
				<RightSection />
			</section>
		</div>
	</main>
</Layout>

<style>
	.main-page {
		display: grid;
		grid-template-columns: minmax(1rem,1fr) minmax(auto, 700px) minmax(1rem, 1fr);
		filter: drop-shadow(2px 4px 6px black);
	}

	.grid-container {
		grid-column: 2/3;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: minmax(12rem,auto) auto auto;
		grid-template-areas:
		"top"
		"left" 
		"right";
	}

	#left {
		border-radius: 0 0 0 0;
	}

	#right {
		border-radius: 0 0 1rem 1rem;
	}

	@media (min-width: 701px) {
		.main-page {
			display: grid;
			grid-template-columns: 1fr 700px 1fr;
		}
		
		.grid-container {
			grid-template-columns: 20rem auto;
			grid-template-rows: minmax(12rem,auto) auto;
			grid-template-areas:
			"top top"
			"left right";
		}
		#left {
			border-radius: 0 0 0 1rem;
		}

		#right {
			border-radius: 0 0 1rem 0;
		}
	}

	
	#top {
		grid-area: top;
	}

	#left {
		grid-area: left;
	}

	#right {
		grid-area: right;
	}

	
</style>
