---
import Layout from '../layouts/MainLayout.astro';

import Background from '../components/layout/Background.astro';
import { cardClass } from '../consts/classes';

---

<Layout title="Welcome to Songhueon Jun's resume(Astro)">
	<div class="w-full h-full px-8 py-8">
		<section class="flex flex-col gap-4 w-full h-full rounded-xl shadow-lg bg-[#ffffff88] py-4 px-4">
			<h1 class="text-3xl">Songhyeon Jun's PORTFOLIO</h1>
			<main class="flex items-center justify-center flex-row gap-4 w-full h-full flex-wrap">
					<a href="/resume" class={cardClass} >Resume</a>
					<a href="/todo-list" class={cardClass} transition:name="HTMX todo list" >HTMX todo list</a>
					<a href="/games" class={cardClass}>Games</a>
					<a href="/apps" class={cardClass}>Apps</a>
			</main>
		</section>
	</div>
	<Background className="absolute w-full h-full -z-10 top-0"/>
</Layout>

<style>
.card {

}
</style>
