---
import MainLayout from '@/layouts/MainLayout.astro';
import IndexFirst from '@/components/entry/IndexFirst.astro';
import IndexSecond from '@/components/entry/IndexSecond.astro';
import IndexThird from '@/components/entry/IndexThird.astro';
import IndexFnal from '@/components/entry/IndexFinal.astro';

---
<MainLayout title="home">
	<div class="w-[100vw] min-h-[100vh] flex flex-col overflow-y-auto">
		<IndexFirst />
		<IndexSecond />
		<IndexThird />
		<IndexFnal />
	</div>
</MainLayout>
