---
import MainLayout from '@/layouts/MainLayout.astro';
import ICanDoBoring from '@/components/entry/IndexFirst.astro';
import ILikeToDoInteresting from '@/components/entry/IndexSecond.astro';
import ILoveMyJob from '@/components/entry/IndexThird.astro';
import IndexFnal from '@/components/entry/IndexFinal.astro';

---
<MainLayout title="home" description='home page of Songhyeon Jun'>
	<div class="w-[100vw] min-h-[100vh] flex flex-col overflow-y-auto">
		<ICanDoBoring />
		<ILikeToDoInteresting />
		<ILoveMyJob />
		<IndexFnal />
	</div>
</MainLayout>
