---
import Layout from '../layouts/Layout.astro';
import TopSection from '../components/TopSection/index.astro';
import LeftSection from '../components/LeftSection/index.astro';
import RightSection from '../components/RightSection/index.astro';
import "resume-css/tooltip/tooltip-from-data.css";
---

<Layout title="Welcome to Songhueon Jun's resume(Astro)">
	<main class="main-page">
		<div class="grid-container mb-8">
			<section id="top">
				<TopSection />
			</section>
			<section id="left" class="bg-section-back pl-2 relative">
				<LeftSection />
				<div id="edge-smoother" class="bg-back-blue"/>
			</section>
			<section id="right" class="bg-back-blue px-4">
				<RightSection />
			</section>
		</div>
	</main>
</Layout>

<style>
	.main-page {
		display: grid;
		grid-template-columns: minmax(1rem,1fr) minmax(auto, 700px) minmax(1rem, 1fr);
		filter: drop-shadow(2px 4px 6px black);
	}

	.grid-container {
		grid-column: 2/3;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: minmax(12rem,auto) auto auto;
		grid-template-areas:
		"top"
		"left" 
		"right";
	}

	#left {
		border-radius: 0 0 0 0;
	}

	#right {
		border-radius: 0 0 1rem 1rem;
	}

	#edge-smoother{
		display: none;
	}
	@media (min-width: 701px) {
		.main-page {
			display: grid;
			grid-template-columns: 1fr 700px 1fr;
		}
		
		.grid-container {
			grid-template-columns: auto 18rem;
			grid-template-rows: minmax(12rem,auto) auto;
			grid-template-areas:
			"top top"
			"left right";
		}
		#left {
			border-radius: 0 0 0 1rem;
			box-shadow: inset -0.1rem 0.1rem 0.1rem 0.04rem rgba(54, 54, 54, 0.466);
		}

		#right {
			border-radius: 0 0 1rem 0;
		}

		#edge-smoother{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 2rem;
			height: 2rem;
		}
		#edge-smoother::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 2rem;
			height: 2rem;
			background-color: rgb(245 245 245);
			border-radius: 0 2rem 0 0;
			overflow: hidden;
			box-shadow: inset -0.1rem 0.1rem 0.1rem 0.04rem rgba(54, 54, 54, 0.466);
		}
		
	}

	
	#top {
		grid-area: top;
	}

	#left {
		grid-area: left;
	}

	#right {
		grid-area: right;
	}

	
</style>
