---
import Layout from '../layouts/Layout.astro';
import TopSection from '../components/TopSection/index.astro'
---

<Layout title="Welcome to Songhueon Jun's resume(Astro)">
	<TopSection />
	<section id="left" >
		left
	</section>
	<section id="right">
		right
	</section>
</Layout>

<style>

	
</style>
