.resume-expand-panel.gridContainer[data-expanded] {
    display: grid;
    transition: all 0.3s ease-in-out;
}

.resume-expand-panel.gridContainer[data-expanded='true'] {
    grid-template-rows: 1.5rem 1fr;
}

.resume-expand-panel.gridContainer[data-expanded='false'] {
    grid-template-rows: 1.5rem 0fr;
}

.resume-expand-panel > .title {
    grid-row: 1/2;
    cursor: pointer;
}

.resume-expand-panel > .panel {
    grid-row: 2/3;
}

.resume-expand-panel > .title[data-expanded] {
    color: currentColor;
    position: relative;
    height: 1.5rem;
    width: 100%;
}

.resume-expand-panel > .title[data-expanded]::after {
    content: '⬆️';
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    right: 0;
    top: 3px;
    width: 1rem;
    height: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.resume-expand-panel > .title[data-expanded='false']::after {
    transform-origin: 50% 50%;
    rotate: 180deg;
}

.resume-expand-panel > .title[data-expanded='true']::after {
    transform-origin: 50% 50%;
    rotate: 360deg;
}

.resume-expand-panel > .panel[data-expanded] {
    transition: all 1s ease-in-out;
}

.resume-expand-panel > .panel[data-overflow-hidden='true'] {
    overflow: hidden;
}

.resume-expand-panel > .panel[data-overflow-hidden='false'] {
    overflow: none;
}

.resume-expand-panel > .panel[data-overflow-hidden='auto'] {
    overflow: auto;
}
