.expand-collapse-tool {
    width: 100%;
    background-color: var(--expand-collapse-tool-back);
    position: relative;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    min-height: 1.5rem;
    cursor: pointer;
}

.expand-collapse-tool > * {
    margin-left: 1rem;
}

.expand-collapse-tool-header {
    padding-top: 0.4rem;
    pointer-events: none;
    text-transform: capitalize;
    user-select: none;
}

.expand-collapse-tool::after {
    position: absolute;
    left: calc(100%-1rem);
    right: 0.2rem;
    top: 0.4rem;
    bottom: 0;
    content: '⬆️';
    pointer-events: none;
}

.expand-collapse-tool.shrunk::after {
    content: '⬇️';
}

.expand-collapse-tool-panel {
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: block;
    overflow-y: scroll;
    overflow-x: visible;
}

.expand-collapse-tool .expand-collapse-tool-panel {
    transition: max-height 0.2s ease-in;
    /* max-height: fit-content; */
    max-height: 20rem;
}

.expand-collapse-tool.shrunk .expand-collapse-tool-panel {
    transition: max-height 0.2s ease-in;
    max-height: 0;
}
