--- 
import 'resume-css/variables/variables.css';// root
import GoBack from '../components/layout/GoBack.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
	backUrl?: string;
	backText?: string;
}

const { title, backUrl = '/', backText="Home"  } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<GoBack backUrl={backUrl} label={backText} />
	</body>
</html>
<style is:global>
body {
    background-color: #ccffcc;
    height: 100vh;
    width: 100vw;
  }
  html {
		scroll-behavior: smooth;
	}
</style>
