--- 
import 'resume-css/variables/variables.css';// root
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  body {
    height: 100vh;
    width: 100vw;
	inset: 0;
	border: border-box;
	position: relative;
  }
  @font-face {
	font-family: 'MadimiOne' ;
	src: url('/fonts/MadimiOne-Regular.ttf') format('ttf');
		/* font-weight: normal;
		font-style: normal;
		font-display: swap; */
	}
	html {
		scroll-behavior: smooth;
		background-color: black;
	}
</style>
