---
import 'resume-css/variables/variables.css';// root
import { FrameworkNoticeBanner } from 'react-ui';
import { ViewTransitions } from 'astro:transitions';
const sourceLinks={
	"source repo": "https://github.com/wootra/resume-turborepo/tree/main/apps/astro-resume"
}
import type { bannerLinks } from 'common-data';
import GoBack from '../components/layout/GoBack.astro';
const selected: keyof typeof bannerLinks = 'Astro JS(Solid.js)';
export interface Props {
	title: string;
	usePdf?: boolean;
}

const { title, usePdf=false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Songhyeon Jun's resume in astro">
		<meta name="viewport" content={usePdf ? "width=768, initial-scale=1" : "width=device-width"} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;family=Roboto+Slab&amp;display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-zinc-400 resume" {...(usePdf ? {style: {width: '768px'}} : {})}>
		{!usePdf && <FrameworkNoticeBanner description="This page is written in Astro.js, Solid.js, CSS3, and Tailwind" currentLabel={selected} sourceLinks={sourceLinks} client:load />}
		<slot />
		<GoBack />
	</body>
	
</html>
<style is:global>
	@media print {
		html {
			width: 768px;
			margin: 0 auto;
		}
	}
	#go-home {
		position: fixed;
		left: 10px;
		top: 10px;
		z-index: 1000000;
		width: 50px;
		height: 30px;
		font-size: 0.8rem;
		border-radius: 10px;
		color: rgb(100, 172, 235);
		background-color: aliceblue;
		transition: all 0.2s ease-in-out;
		filter: drop-shadow(0 0 0.25rem #aeaeae);
	}
	#go-home:hover {
		left: 12px;
		top: 12px;
		color: white;
		background-color: rgb(100, 172, 235);
		filter: drop-shadow(0 0 0 #aeaeae);
	}
	:root {
		
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}

	body {
		margin: 0;
    	min-width: 327px;
	}

	.resume h1, .resume h2, .resume h3 {
		font-weight: 700;
	}

	.resume heading {
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
	}

	.resume h1 {
		font-size: clamp(1.5rem, 9vw, 2.3rem);
		line-height: clamp(1.5rem, 9vw, 2.3rem);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	
</style>
