---
import Background from '../../components/layout/Background.astro';
import { cardClass } from '../../consts/classes';
import GameLayout from '../../layouts/GameLayout.astro';


---

<GameLayout title="Games">
	<div class="w-full h-full px-8 py-8">
		<section class="flex flex-col gap-4 w-full h-full rounded-xl shadow-lg bg-[#ffeeee88] py-4 px-4">
			<h1 class="text-3xl">Game List</h1>
			<main class="flex items-center justify-center flex-row gap-4 w-full h-full flex-wrap">
					<a href="/games/snake" class={cardClass}>Snake</a>
					<a href="/games/slapit" class={cardClass}>Slap It!</a>
			</main>
		</section>
	</div>
	<Background className="absolute w-full h-full -z-10 top-0"/>
</GameLayout>
