---
import GameLayout from '../../layouts/GameLayout.astro';
import { twMerge as tw } from 'tailwind-merge'
import Background from '../../components/layout/Background.astro';

const cardClass = tw("flex items-center justify-center w-32 h-16 rounded-xl shadow-lg bg-slate-400");

---

<GameLayout title="Games">
	<div class="w-full h-full px-8 py-8">
		<section class="flex flex-col gap-4 w-full h-full rounded-xl shadow-lg bg-white py-4 px-4">
			<h1 class="text-3xl">Game List</h1>
			<main class="flex items-center justify-center flex-row gap-4 w-full h-full flex-wrap">
					<a href="/games/snake" class={cardClass}>Snake</a>
			</main>
		</section>
	</div>
</GameLayout>
