---
import SlapIt from '../../components/games/SlapIt';
import GameLayout from '../../layouts/GameLayout.astro';
type Props = {
	name: string;
}
const name = "Slap It!"

---

<GameLayout title={name} backUrl='/games' backText='Game Home'>
	<div class="w-full h-full p-2 md:p-8">
		<section class="flex flex-col gap-4 w-full h-full rounded-xl shadow-lg bg-white py-4 px-4">
			<h1 class="text-3xl fixed md:block top-3 right-3 bg-white rounded-md bg-opacity-70 p-4 outline outline-slate-500">{name}</h1>
			<main class="flex flex-wrap items-center justify-center gap-4 w-full h-auto">
				<SlapIt client:load />
			</main>
		</section>
	</div>
</GameLayout>