:root {
    --tooltipBack: #323232;
    --tooltipShadow: #29292959;
    --tooltipColor: #f4ffb3;
}
a[data-tooltip] {
    position: relative;
}

a[data-tooltip]::after,
a[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    background-color: var(--tooltipBack);
    color: var(--tooltipColor);
    filter: drop-shadow(0 0 0.2rem var(--tooltipShadow));
    pointer-events: none;
}

a[data-tooltip]::after {
    bottom: calc(100% + 1rem);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

a[data-tooltip]:hover::after {
    bottom: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
