---
import Awards from "./Awards.astro";
import Educations from "./Educations.astro";
import SkillLevels from "./SkillLevels.astro";
import Volunteers from "./Volunteers.astro";
import WorkAuthority from "./WorkAuthority.astro";

---
<div class="flex flex-col gap-4">
    <SkillLevels />
    <Volunteers />
    <Educations />
    <Awards />
    <WorkAuthority/>
</div>
