
.volunteers {
    margin-top: -0.5rem;
}

ul.volunteer-list {
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}

ul.volunteer-list > li {
    position: relative;
    margin-bottom: 0.5rem;
}

ul.volunteer-list > li::before {
    content: "✅";
    font-size: 0.8rem;
    color: #fff;
    position: absolute;
    left: -1.2rem;
    top: 0;
    bottom: 0;
    right: calc(100%);
}

ul.volunteer-list a:link, ul.volunteer-list a:visited, ul.volunteer-list a:active {
    color: var(--right-grid-link);
    transition: color 1s ease;
}

ul.volunteer-list a:hover {
    color: var(--right-grid-link-hover);
    transition: color 1s ease;
    text-decoration: none;
}