---

---
<a id="go-home" aria-label="go home" class="flex items-center justify-center" href="/">Home</a>
<style>
	#go-home {
		position: fixed;
		left: 10px;
		top: 10px;
		z-index: 1000000;
		width: 50px;
		height: 30px;
		font-size: 0.8rem;
		border-radius: 10px;
		color: rgb(100, 172, 235);
		background-color: aliceblue;
		transition: all 0.2s ease-in-out;
		filter: drop-shadow(0 0 0.25rem #aeaeae);
	}
	#go-home:hover {
		left: 12px;
		top: 12px;
		color: white;
		background-color: rgb(100, 172, 235);
		filter: drop-shadow(0 0 0 #aeaeae);
	}
	
</style>
