---
import Nav from '@/components/links/Nav.astro';
import ContentHolder from '@/layouts/sublayouts/ContentHolder.astro';
import { twMerge } from 'tailwind-merge';
const colorSets = [
    twMerge('from-lime-700/70 to-lime-500/50'),
    twMerge('bg-lime-200/50'),
    twMerge('to-lime-700/50 from-lime-500/30')
]
---
<ContentHolder
    anchorId='first'
    classNames={colorSets}
    after="#second"
    bgImage="images/mountain.jpg"
>
<Nav slot="nav-area" className="absolute pl-[2rem] top-0 right-0 rounded-bl-[3rem] bg-white/30 z-50 py-2"/>
            
<span class="text-5xl">

    Yes,
</span>
<span>

    I can do boring things.
</span>
<span>
    And I am pretty good at it.
</span>

<img slot="image-area" alt="profile" src="/images/app-screenshots/vscode-screen.png" class="flex-shrink rounded-full max-w-[400px] max-h-[400px] lg:w-full lg:h-auto h-auto w-auto aspect-1" />
</ContentHolder>
