---
import ContentHolder from '@/layouts/sublayouts/ContentHolder.astro';
import ImageLinkRenderer from '@/utils/ImageLinkRenderer.astro';
import UpperCaseLink from '@/utils/UpperCaseLink.astro';
import { twMerge } from 'tailwind-merge';
const classNames = [
    twMerge('from-cyan-700/70 to-cyan-500/50'),
    twMerge('bg-cyan-200/50'),
    twMerge('to-cyan-700/50 from-cyan-500/30')
]
const images = [
    "/images/app-screenshots/sakr-home.png",
    "/images/app-screenshots/fund-center.png",
    "/images/app-screenshots/small-business-insurance.png",
    "/images/app-screenshots/usaa-financial-readiness.png",
]
---
<ContentHolder
    anchorId='third'
   
    classNames={classNames}
    before="#second"
    after="#final"
    bgColor="rgb(166, 173, 188)"
    bgImage="images/mountain.jpg"
>
<span class="text-5xl">

    Most likely,
</span>
<span>

    I love my job.
</span>
<span>
    I like making dedication
</span>

<UpperCaseLink href="/portfolio">
    In the production level
</UpperCaseLink>
<ImageLinkRenderer slot="image-area" href="#third" src={images} />

</ContentHolder>
