
.desc{
    font-size: 10px;
    background-color: #efefef;
}

.toolHelp{
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
    height: 150px;
    overflow-y: auto;
    background-color:#efefef;
    color:black;
    font-size: 10px;
}