:root {
    --gradient-start: rgba(12, 138, 40, 1);
    --gradient-end: rgba(12, 138, 40, 0);
}
.container {
    margin-left: -0.5rem;
}

.title {
    color: var(--txtTitle);
    position: relative;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 1.35rem;
    font-family: Times New Roman, Times, serif;
    font-weight: 700;
}

.title[data-color='yellow'] {
    --txtTitle: rgb(240, 216, 78);
    --gradient-start: rgba(240, 216, 78, 1);
    --gradient-end: rgba(240, 216, 78, 0);
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    right: -20%;
    bottom: -2px;
    height: 2px;
    background-image: linear-gradient(
        90deg,
        var(--gradient-start) 0%,
        var(--gradient-start) 60%,
        var(--gradient-end) 100%
    );
}
