
/* GridRight */
.grid-right {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.grid-right > *{
    width: 100%;
}

.grid-right .title {
    color: rgb(240, 216, 78);
}

.grid-right .title::after {
    background-image: linear-gradient(90deg, rgb(211, 208, 58) 0%, rgb(211, 208, 58) 60%, rgba(194, 192, 102, 0) 100%);
}


